@import "bootstrap.css"; /* modified bootstrap */
@import "blob-btn.css"; /* buttons */

:root {
  --bright: rgb(235, 75, 75);
  --darker: #ca3956;
  --dark: #555555;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

body,
html {
  width: 100vw;
  overflow-x: hidden;
}

/* section header underline */
.section-heading {
  font-weight: bold;
  font-size: 2.5em;
  margin-top: 0.25em;
  cursor: default;
}

.section-heading.smaller {
  font-size: 1.8em;
}

.underline--magical {
  background-image: linear-gradient(120deg, #ff96ab 0%, #ff7893 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.section-heading.light .underline--magical {
  background-image: linear-gradient(120deg, #ffd5dd 0%, #ffc2ce 100%);
}

.underline--magical:hover {
  background-size: 100% 88%;
}

/*
 navigation bar 
 */
.navbar {
  font-size: 1.2em;
  font-weight: 400;
  -webkit-box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.24) !important;
  box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.24) !important;
}

#navlogoimg {
  margin-right: 0.5em;
  max-height: 2em;
  margin-top: -0.3em;
}

#navlogotext {
  position: relative;
  top: 0.15em;
  text-transform: none;
  font-size: 1.2em;
  font-weight: bold;
}

.navbar-toggler,
.navbar-toggler.collapsed,
.navbar-toggler:focus,
.navbar-toggler:active {
  border: none;
  outline: none;
}

/* Navbar toggle */
/* Hamburger menu */
.icon-bar {
  width: 25px;
  height: 3px;
  background-color: white;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
  border-radius: 2px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

/* animation */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.nav-link {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

/* NavItem underline animation */
@media (min-width: 992px) {
  .nav-link {
    position: relative;
  }

  .nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2.5px;
    top: 88%;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
    border-radius: 1.5px;
  }

  .active .nav-link::before {
    visibility: visible;
    transform: scaleX(1);
  }

  .inactive .nav-link::before {
    visibility: hidden;
    transform: scaleX(0);
  }

  .nav-link:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
}

/* 
Hero section
*/
#hero {
  background: #555 url("img/bg-hero-mobile2.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: relative;
}

@media (min-width: 768px) {
  #hero {
    background: #555 url("img/hero-bg2.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    position: relative;
  }
}

#hero .container {
  padding-top: 25vh;
}

#hero h1 {
  letter-spacing: 2px;
  margin: 0 0 10px 0;
  font-size: 4.02em;
  font-weight: 700;
  line-height: 56px;
  color: var(--white);
  text-shadow: -1px 2px 4px rgba(0, 0, 0, 0.55);
}

#hero #slogan {
  text-shadow: -1px 2px 4px black;
  font-size: 2.7em;
  font-weight: bolder;
  font-style: italic;
  margin-bottom: 0.25em;
}

.text-light {
  color: #ccc;
}

#hero .more {
  font-weight: 400;
  font-size: 1.7em;
}

/* call to action buttons */
.btn-get-started {
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 4px;
  transition: 0.55s;
  border: 2px solid var(--white);
  color: var(--white);
  box-shadow: -1px 2px 5px var(--title);
  background-color: transparent;
}

.btn-get-started:hover {
  color: white;
  border-color: var(--primary);
  background: var(--primary);
}

.secondary-action {
  color: var(--primary);
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  border-color: var(--primary);
}

.secondary-action:hover {
  border-color: var(--primary);
  background: var(--primary);
}

.main-action:hover {
  border-color: var(--bright);
  background: var(--bright);
}

.main-action {
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--primary);
  border-color: var(--primary);
}

.no-uppercase {
  text-transform: none;
}

.main-action:hover {
  background-color: var(--bright);
  border-color: var(--bright);
}

/* Listings Section */
.hero-bg2 {
  background: #555 url("img/bg-hero-mobile.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .hero-bg2 {
    background: #555 url("img/hero-bg.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.listings-container {
  padding-top: 95px;
}

.listing-preview {
  object-fit: cover;
  height: 100%;
  min-width: 100%;
  max-height: 15em;
}

.listing-preview.desktop {
  border-top-left-radius: 0.42em;
  border-bottom-left-radius: 0.42em;
}

.listing-card {
  position: relative;
  border: 0;
  border-radius: 0.42em;
  background: -webkit-gradient(
    linear,
    center top,
    right bottom,
    from(#f6f6f6),
    to(#d1d1d1)
  );
  transition: ease-out 0.25s;
  box-shadow: -1px 1px 5px black;
}

.listing-card.dark {
  background: -webkit-gradient(
    linear,
    center top,
    right bottom,
    from(#f6f6f6ae),
    to(#d1d1d1ae)
  );
}

.listing-card:hover {
  border: 0;
  transform: translateY(-0.2em);
  box-shadow: -0.25em 0.25em 1em black;
}

.listing-card .price {
  font-weight: bold;
  color: var(--dark);
  font-size: 1.25em;
}

span.value {
  font-weight: bold;
  color: var(--darker);
}

span.firstvalue {
  font-weight: bold;
  text-transform: uppercase;
}

span.firstvalue::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin-right: 4px;
  margin-bottom: -0.8px;
}

span.firstvalue.active::before {
  background-color: rgb(0, 177, 0);
}

span.firstvalue.pending::before {
  background-color: rgb(231, 85, 0);
}

span.firstvalue.sold::before {
  background-color: rgb(231, 0, 0);
}

.dropdown-menu {
  background: #f8f8f8;
}

.dropdown-menu > * {
  transition: 0.35s ease-in-out;
}

.dropdown-menu > *:active,
.dropdown-menu > *:hover {
  background: #ebebeb;
}

span.value::before {
  content: " \09 | \09 ";
  padding-left: 0.55em;
  padding-right: 0.55em;
  color: black;
}

.listing-learn-more {
  font-size: 0.9em;
}

.listing-card span.value::after {
  content: " ";
}

.listing-card.featured {
  box-shadow: 0 0 0 0.25em var(--primary), -1px 1px 6px black;
  transition: ease-out 0.25s;
  border-radius: 0.42em;
  margin-bottom: 1.3em;
}

.listing-card.featured:hover {
  box-shadow: 0 0 0 0.25em var(--primary), -0.25em 0.3em 1em black;
}

/* featured ribbon */
.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 100px;
  height: 100px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: linear-gradient(#d83b5a 0%, #b6334e 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}
/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #af324b;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #af324b;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font: 700 18px/1 "IBM Plex Sans", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

/* top right*/
.ribbon {
  top: -10px;
  right: -10px;
}
.ribbon::before,
.ribbon::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon::before {
  top: 0;
  left: 0;
}
.ribbon::after {
  bottom: 0;
  right: 0;
}
.ribbon span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* SINGLE LISTING PAGE */

.listing-page {
  background-color: #222;
  min-height: 100vh;
}

.listing-hero .listing-bg,
img + div.img-inset-shadow {
  width: 100vw;
  height: 74vh;
}

.listing-back {
  position: absolute;
  z-index: 120;
  top: 90px;
}

.listing-bg,
.img-inset-shadow {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.listing-bg,
.listing-bg img,
img + div.img-inset-shadow {
  overflow: hidden;
  border-bottom-left-radius: 50% 13.5%;
  border-bottom-right-radius: 50% 13.5%;
}

.listing-bg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: blur(0.25rem) brightness(69%);
  z-index: -1;
}

@media (min-width: 768px) {
  .listing-bg,
  .listing-bg img,
  img + div.img-inset-shadow {
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }
}

img + div.img-inset-shadow {
  position: absolute;
  top: 0;
  box-shadow: inset 0 -0.75em 0.75em -1em rgba(0, 0, 0, 0.724);
}

.listing-hero img {
  position: relative;
  z-index: 10;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.listing-hero-title {
  position: absolute;
  font-size: 2.5em;
  text-shadow: -1px 2px 3px rgba(0, 0, 0, 0.42);
  top: calc(2em + 22.4vh);
  left: 5vw;
  right: 5vw;
  z-index: 100;
  text-align: center;
  max-width: 90vw;
}

.listing-body .card {
  margin-top: -3.5em;
  border: 0;
  border-radius: 0.2em;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f7f7f7),
    to(#d4d4d4)
  );
  -webkit-box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.8) !important;
  box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.8) !important;
  z-index: 10;
}

.listing-body .card p,
.about-info {
  font-size: 1.1em;
}

/* Extra small devices (portrait phones, less than 576px) */

/* No media query for `xs` since this is the default in Bootstrap */
.listing-body .card {
  margin-top: -18vh;
}

.listing-hero-title {
  font-size: 2.5em;
  top: calc(1.2em + 22vh);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .listing-body .card {
    margin-top: -17vh;
  }

  .listing-hero-title {
    font-size: 3em;
    top: calc(1.5em + 22vh);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .listing-body .card {
    margin-top: -18vh;
  }

  .listing-hero-title {
    font-size: 2.8em;
    top: calc(1.2em + 24vh);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .listing-body .card {
    margin-top: calc(-6em - 3.8vh);
  }

  .listing-hero-title {
    font-size: 3.8em;
    top: calc(0.7em + 24vh);
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .listing-hero-title {
    font-size: 3.8em;
    top: calc(0.7em + 25.5vh);
  }
}

/* shortass devices */
@media (max-height: 700px) {
  .listing-body .card {
    margin-top: -17vh;
  }

  .listing-hero-title {
    font-size: 2.3em;
    top: calc(1.5em + 22vh);
  }
}

@media (max-height: 500px) {
  .listing-body .card {
    margin-top: -17vh;
  }

  .listing-hero-title {
    font-size: 2em;
    top: calc(1.5em + 22vh);
  }
}

/* About Section */
.about-container {
  padding-top: 95px;
}

.about-bg {
  background: #555 url("img/bg-hero-mobile3.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.about-container img {
  transition: ease-out 0.3s;
  box-shadow: -1px 1px 1em rgba(0, 0, 0, 0.3);
}

.about-container img:hover {
  border: 0;
  transform: translateY(-0.2em);
  box-shadow: -0.25em 0.25em 1em rgba(0, 0, 0, 0.42);
}

@media (min-width: 768px) {
  .about-bg {
    background: #555 url("img/hero-bg3.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }
}

.about-wrap {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f6f6f6),
    to(#e9e9e9)
  );
  background: linear-gradient(to bottom, #f6f6f6, #e9e9e9);
  border-radius: 0.25em;
}

.about-wrap .primary a {
  text-decoration: none;
}

/* Contact Section */
/* contact form */
.contact-container {
  padding-top: 95px;
}

.cool-b4-form .btn {
  border-radius: 0;
}

.contact-wrap {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f6f6f6),
    to(#e9e9e9)
  );
  background: linear-gradient(to bottom, #f6f6f6, #e9e9e9);
}

.cool-b4-form .form-group {
  position: relative;
  padding-top: 1.5em;
  margin-bottom: 0;
  /* If there's only 1 input make it full height */
}
.cool-b4-form .form-group:first-child:last-child {
  height: 100%;
}
.cool-b4-form .form-group:first-child:last-child .form-control {
  min-height: 5em;
  height: 100%;
}
.cool-b4-form .form-group textarea {
  resize: none;
}
.cool-b4-form .form-group .input-highlight {
  content: "";
  width: 0;
  height: 3px;
  background: var(--primary);
  position: absolute;
  display: block;
  bottom: 0;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}
.cool-b4-form .form-group label {
  position: absolute;
  left: 10px;
  top: 2em;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.cool-b4-form .form-group .form-control {
  font-size: 1.2em;
  border-radius: 4px;
  border-width: 0 0 2px 0;
}
.cool-b4-form .form-group .form-control:focus,
.cool-b4-form .form-group .form-control.hasValue {
  box-shadow: none;
  border-color: #ced4da;
}

.cool-b4-form .form-group .form-control:focus ~ .input-highlight,
.cool-b4-form .form-group .form-control.hasValue ~ .input-highlight {
  width: 100%;
}
.cool-b4-form .form-group .form-control:focus ~ label,
.cool-b4-form .form-group .form-control.hasValue ~ label {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  top: 0;
  left: 0;
}

.hero-bg {
  background-color: var(--dark);
  background: #555 url("img/bg-hero-mobile1.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

@media (min-width: 768px) {
  .hero-bg {
    background: #555 url("img/hero-bg1.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }
}

form #submit:hover {
  color: white;
}

#submit {
  font-size: 1.2em;
  min-width: 20vw;
}

.contactinfo p a {
  color: var(--dark);
}

.contactinfo p b {
  font-weight: bold;
  color: var(--primary);
}

.contactinfo p a:hover {
  text-decoration: none;
}
